{% extends "templates/web.html" %}
{% block head_include %}
	{{ super() }}
	{% include "templates/includes/dev_portal_shell_head.html" %}
{% endblock %}
{% block page_content %}
{% from "templates/includes/dev_portal_shell.html" import dpx_shell with context %}
{% call dpx_shell() %}
<div id="udt-my-day"></div>
<script src="/assets/upande_dev_tools/js/my-day.js?v={{ asset_version('js/my-day.js') }}"></script>
<script>
frappe.ready(function() {
	new upande_dev_tools.MyDay(document.getElementById("udt-my-day"));
});
</script>
{% endcall %}
{% endblock %}
